
body {
    font-family: 'Arvo', serif;
    background: #00081A;
    color: aliceblue;
    transform-style: preserve-3d;
    perspective: 700px;
    margin: 0;
}

#wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    color: #07102A;
    /* The one below is a little too dark... */
    /* Might work well for the second layer */
    color: rgba(7, 16, 42, 0.45);
    color: rgba(140, 140, 140, 0.7);
    margin: 0 !important;
    width: 100vw;
    height: 100vh;
    font-family: 'Teko', sans-serif;
}

.text-container {
    position: absolute;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.text-container p {
    margin: 0;
}

.large {
    font-size: 25em;
}

.large p {
    margin-top: 5rem;
}

.light {
    color: rgba(29, 42, 80, 0.322);
    /* color: rgba(140, 140, 140, 0.7); */
}

.dark {
    color: rgba(7, 16, 42, 0.45);
}

.bg-text {
    position: absolute;
}

#select1 {
    transform: translateX(-140px) translateY(-100px) translateZ(210px) rotateY(100deg) rotateX(-50deg) rotateZ(-10deg);
    animation-name: shift1;
}

#select2 {
    transform: translateX(140px) translateY(-100px) translateZ(210px) rotateY(-100deg) rotateX(-50deg) rotateZ(10deg);
    animation-name: shift2;
}

#select3 {
    transform: translateX(-100px) translateY(100px) translateZ(210px) rotateY(100deg) rotateX(60deg) rotateZ(10deg);
    animation-name: shift3;
}

#select4 {
    transform: translateX(100px) translateY(100px) translateZ(210px) rotateY(-100deg) rotateX(60deg) rotateZ(-10deg);
    animation-name: shift4;
}

/* Background Select Icons */
#back-select1 {
    transform: translateX(-140px) translateY(-100px) translateZ(280px) rotateY(100deg) rotateX(-50deg) rotateZ(-10deg);
    animation-name: back-shift1;
}

#back-select2 {
    transform: translateX(140px) translateY(-100px) translateZ(280px) rotateY(-100deg) rotateX(-50deg) rotateZ(10deg);
    animation-name: back-shift2;
}

#back-select3 {
    transform: translateX(-100px) translateY(100px) translateZ(280px) rotateY(100deg) rotateX(60deg) rotateZ(10deg);
    animation-name: back-shift3;
}

#back-select4 {
    transform: translateX(100px) translateY(100px) translateZ(280px) rotateY(-100deg) rotateX(60deg) rotateZ(-10deg);
    animation-name: back-shift4;
}


/* Animation Configurations */
.large {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.dark {
    /* animation-duration: 1.9s; */
}

.bottom {
    animation-duration: 1.9s;
}



/* Animations */
@keyframes shift1 {
    from {transform: translateX(-140px) translateY(-100px) translateZ(200px) rotateY(100deg) rotateX(-50deg) rotateZ(-10deg);}
    to {transform: translateX(-140px) translateY(-100px) translateZ(280px) rotateY(100deg) rotateX(-50deg) rotateZ(-10deg);}
}
@keyframes shift2 {
    from {transform: translateX(140px) translateY(-100px) translateZ(200px) rotateY(-100deg) rotateX(-50deg) rotateZ(10deg);}
    to {transform: translateX(140px) translateY(-100px) translateZ(280px) rotateY(-100deg) rotateX(-50deg) rotateZ(10deg);}
}
@keyframes shift3 {
    from {transform: translateX(-100px) translateY(100px) translateZ(200px) rotateY(100deg) rotateX(60deg) rotateZ(10deg);}
    to {transform: translateX(-100px) translateY(100px) translateZ(280px) rotateY(100deg) rotateX(60deg) rotateZ(10deg);}
}
@keyframes shift4 {
    from {transform: translateX(100px) translateY(100px) translateZ(200px) rotateY(-100deg) rotateX(60deg) rotateZ(-10deg);}
    to {transform: translateX(100px) translateY(100px) translateZ(280px) rotateY(-100deg) rotateX(60deg) rotateZ(-10deg);}
}
/* Back Elements */
@keyframes back-shift1 {
    from {transform: translateX(-140px) translateY(-100px) translateZ(280px) rotateY(100deg) rotateX(-50deg) rotateZ(-10deg);}
    to {transform: translateX(-140px) translateY(-100px) translateZ(210px) rotateY(100deg) rotateX(-50deg) rotateZ(-10deg);}
}
@keyframes back-shift2 {
    from {transform: translateX(140px) translateY(-100px) translateZ(280px) rotateY(-100deg) rotateX(-50deg) rotateZ(10deg);}
    to {transform: translateX(140px) translateY(-100px) translateZ(210px) rotateY(-100deg) rotateX(-50deg) rotateZ(10deg);}
}
@keyframes back-shift3 {
    from {transform: translateX(-100px) translateY(100px) translateZ(280px) rotateY(100deg) rotateX(60deg) rotateZ(10deg);}
    to {transform: translateX(-100px) translateY(100px) translateZ(210px) rotateY(100deg) rotateX(60deg) rotateZ(10deg);}
}
@keyframes back-shift4 {
    from {transform: translateX(100px) translateY(100px) translateZ(280px) rotateY(-100deg) rotateX(60deg) rotateZ(-10deg);}
    to {transform: translateX(100px) translateY(100px) translateZ(210px) rotateY(-100deg) rotateX(60deg) rotateZ(-10deg);}
}





#content {
    margin: 0rem 3rem 0rem 3rem;
    transform: translateX(0rem);

    max-height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

#content::-webkit-scrollbar { 
    display: none; 
}



#header {
    text-align: center;
}


#control {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}





