@font-face {
    font-family: "Melee";
    src: url("res/fonts/galliarditcbybt-ultra-webfont.eot");
    src: url("res/fonts/galliarditcbybt-ultra-webfont.woff") format("woff"),
    url("res/fonts/galliarditcbybt-ultra-webfont.svg#filename") format("svg");
    /* galliarditcbybt-ultra-webfont.ttf */
}


body {
    font-family: 'Arvo', serif;
    background: #00081A;
    color: aliceblue;
    transform-style: preserve-3d;
    perspective: 700px;
    margin: 0;
}

button {
    cursor: pointer;
}

#wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    color: #07102A;
    /* The one below is a little too dark... */
    /* Might work well for the second layer */
    color: rgba(7, 16, 42, 0.45);
    color: rgba(140, 140, 140, 0.7);
    margin: 0 !important;
    width: 100vw;
    height: 100vh;
    font-family: 'Teko', sans-serif;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    z-index: -100;
}


#content {
    margin: 0rem 3rem 0rem 3rem;
    transform: translateX(0rem);

    max-height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

#content::-webkit-scrollbar { 
    display: none; 
}



#header {
    font-family: "Melee";
    font-size: 3rem;
    background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(179, 53, 53), rgb(179, 53, 53));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
    text-align: center;
}

#header h3 {
    margin: 2rem 0rem 2rem 0rem; 
}


#control {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 1fr 1fr 4fr 2fr;
}

.double-stack {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 0.1rem;
}

.input-container {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-column-gap: 0.3rem;
}

.input-container input {
    width: 4rem;
    height: 2.4rem;
    margin: 0;
    font-size: 2rem;
    text-align: center;
    border-radius: 2px;
    border: 2px solid gainsboro;
}

.input-container button {
    font-size: 1rem;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0.1rem;
    background: ghostwhite;
    border: none;
    width: 3rem;
}

.input-container button:hover {
    background: rgb(231, 231, 243);
}

#generate-control {
    text-align: center;
}


button {
    border: none;
    border-radius: 3px;
    font-size: 2rem;
}

#generate {
    background: goldenrod;
    margin: auto;
}

#generate:hover {
    background: rgb(241, 184, 37);
}


/* Game Selector */
#radio-container {
    text-align: center;
    margin-left: 2rem;
}

.radio-toolbar input[type="radio"] {
    display:none; 
}

.radio-toolbar label {
    display: inline-block;
    background: rgb(9, 38, 105);
    padding: 0.6rem 1rem;
    margin: 0.05rem 0rem;
    font-size: 1rem;
    border: 2px solid #444;
    border-radius: 4px;    
    width: 5rem;
    text-align: center;
}

.radio-toolbar input[type="radio"]:checked + label { 
    background-color: rgb(79, 127, 236);
    border-color:  #444;
}

.radio-toolbar label:hover {
    background-color: rgb(79, 127, 236);
}






/* Roster Shenanigans */
.roster-parent {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background: gray;

    margin-top: 1rem;
    margin-bottom: 1rem;

}

.player-label h1 {
    text-align: center;
    color: black;
    margin-left: 1rem;
}

.player-label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.roster-container {
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    align-content:center;
    align-items:center;

    border-radius: 2px;
}

.character-container {
    text-align: center;

    min-width: 4rem;
    max-width: 4rem;
    min-height: 4rem;
    max-height: 4rem;

    flex: 0 1 auto;

    margin: 0.5rem 2rem 0.5rem 2rem;

    align-self: center;

    border-radius: 2px;
}

.shuffle-parent {
    display: flex;
    align-items: center;
}


.shuffle {
    background: cyan;
    font-size: 1.5rem;
    font-family: monospace;
    margin-left: 0.65rem;
    background-image: url('./res/shuffle.svg');
    background-repeat: no-repeat;
    padding-right: 2rem;
    background-position: right;
    max-height: 2rem;
}

img.stock-icon  {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

img.melee {
    height: 60px;
    width: 60px;
}

img.ultimate {
    height: 70px;
    width: 70px;
    image-rendering: auto;
}

.hidden {
    visibility: hidden;
}





